.container{
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.container2{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 100px 1fr;
}

.container3{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 100px 1fr 2fr;
}
.container4{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
.column1{
    background-color: lightblue;

}

.column2{
    background-color: lightpink;
}
